{
  "trailingComma": "all",
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "never",
  "trimTrailingWhitespace": true,
  "insertFinalNewline": true
}